a {
  text-decoration: none;
  padding-right: 12px;
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
}

header {
  margin: 0;
  width: 100%;
  padding: 12px;
  background-color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  max-width: 160px;
}

img {
  width: 100%;
}

body {
  margin: 0;
  background-color: aqua;
}
.nav-bar {
  padding: 8px;
  margin-right: 16px;
}

.boton {
  padding: 12px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  font-family: Lexend;
  font-weight: 600;
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.footer-logo {
  max-width: 160px;
}

h4 {
  margin-right: 16px;
  font-family: Lexend;
  font-weight: 600;
  font-size: 16px;
}

.photo-grid {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
